{
    "url":"https://gs.symphony.com/login/sso/initsso",
    "autoUpdateUrl": "",
    "autoUpdateChannel": "latest",
    "isAutoUpdateEnabled": true,
    "forceAutoUpdate": false,
    "autoUpdateCheckInterval": "30",
    "enableBrowserLogin": false,
    "browserLoginAutoConnect": false,
    "overrideUserAgent": false,
    "minimizeOnClose" : "ENABLED",
    "launchOnStartup" : "ENABLED",
    "alwaysOnTop" : "DISABLED",
    "bringToFront": "DISABLED",
    "whitelistUrl": "*",
    "isCustomTitleBar": "ENABLED",
    "memoryRefresh": "ENABLED",
    "memoryThreshold": "800",
    "devToolsEnabled": false,
    "contextIsolation": true,
    "contextOriginUrl": "",
    "disableGpu": false,
    "enableRendererLogs": false,
    "ctWhitelist": [],
    "podWhitelist": [],
    "notificationSettings": {
        "position": "upper-right",
        "display": ""
    },
    "customFlags": {
        "authServerWhitelist": "*.gs.com, *.symphony.com",
        "authNegotiateDelegateWhitelist": "*.gs.com, *.symphony.com",
        "disableThrottling": "DISABLED"
    },
    "permissions": {
        "media": true,
        "geolocation": false,
        "notifications": true,
        "midiSysex": false,
        "pointerLock": true,
        "fullscreen": true,
        "openExternal": true
    },
    "autoLaunchPath": "",
    "userDataPath": "",
    "chromeFlags": "",
    "betaAutoUpdateChannelEnabled": true
}
